.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
    width: 100%;
    z-index: 1000;
    position: fixed;
}
  
.navbar.fixed {
    background-color: rgba(0, 0, 0, 0.92);  
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    height: 70px;
}
.logo{
    max-height:200px;
    padding-left: 90px;
}
.nav-list {
    list-style: none;
    margin: 0px ;
    padding: 0px;
    display: flex;
    align-items: center;
}
.nav-list--vertical {
    list-style: none;
    margin: 0px ;
    padding: 0px;
}
.nav-item {
    position: relative;
}
.nav-item::after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 15px;
    background-color: #D50B1B;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-link {
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    color: #ffffff;
}
.nav-link:hover {
    color: #ffffff;
}
.nav-btn {
    width: 127px;
    height: 37px;
}
.nav-btn--collapse {
    display: none;
}
@media only screen and (max-width: 778px) {
    .nav-list{
        display: none   ;
    }
    .nav-btn--collapse {
        display: block;
    }
  }